<p id="notice"><%= notice %></p>
<p class="text-center">
<div class="position-absolute top-20 end-0">
<button type="button" class="btn btn-outline-primary">
<a href="http://127.0.0.1:3000/tasks">New Project</a>
</button>
</div>
</p>

<h4> Listing Projects</h4>
<br>

<table>
  <thead>
    <tr>
      <th>Project Name</th>
      <th>No.of Tasks</th>
       <th>Actions</th>
      <th colspan="3"></th>
    </tr>
  </thead>


<tbody>

  <% @lists.each do |list| %>

   <tr>
      <td><%= list.project %></td>
      <td><%= list.task %></td>
      <td><%= link_to "Show", list %></td>
        <td><%= link_to "Edit", list %></td>
          <td><%= link_to "Destroy", list ,method: :delete,data: {confirm: "Are You Sure?" } %></td>
        
        </tr>

  <% end %>
</tbody>
</table>





<br>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    
    <li class="page-item"><a class="page-link" href="http://127.0.0.1:3000/">Previous</a></li>
    <li class="page-item"><a class="page-link" href="http://127.0.0.1:3000/tasks">2</a></li>
    <li class="page-item"><a class="page-link" href="http://127.0.0.1:3000/posts">Next</a></li>
    
  </ul>
</nav>

<br><br><br><br><br><br><br><br><br><br><br><br>

